/* COLORS : 
- Gris clair (bordures) : #F0F3F4;
- Gris sombre : #777F88;
- Bleu : #4DA1FF;
#FAFBFC
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  padding: 0;
  margin: 0;
}

/* ********* LIGHT MODE ********* */
.light1 {
  background: #FAFBFC;
}

.light2 {
  background: #FFFFFF;
}

.text-grey {
  color: #777F88;
}

body {
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
}

.light {
  background-color: #FAFBFC;
}

#level0 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

nav {
  width: 10%;
  min-width: 50px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  height: 600px;
}
nav .item {
  display: flex;
  align-items: center;
  color: inherit;
  margin: auto;
  border-radius: 60%;
  padding: 12%;
}
nav .item.button {
  border: none;
  padding: 15%;
  background: none;
}
nav .item:hover {
  background: #189ED7;
  color: white;
}
nav .item:hover::before {
  content: "";
  height: 6%;
  width: 3px;
  left: 0;
  background: #189ED7;
  position: absolute;
}

img {
  max-width: 100%;
}

#filter ul {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  box-sizing: border-box;
}
#filter ul li {
  list-style: none;
  background: #fafbfc;
  border: 1px solid #F0F3F4;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 4%;
  font-size: 14px;
}
#filter ul li a {
  text-decoration: none;
  color: #777F88;
}
#filter ul li:hover {
  border-color: #4DA1FF;
}
#filter ul li:hover a {
  color: #4DA1FF;
}

section#level1 {
  margin-left: 40px;
}

/* *************** CENTRAL ****************/
div#level2 {
  padding: 50px;
  border-radius: 4px;
  margin-right: 50px;
}

h2:not(.filter-title) {
  margin-bottom: 15px;
  margin-top: 50px;
  font-size: 20px;
}

/* ***************  NIBEAU 3 *************** */
div.level3 {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

div .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-top: 15px;
}

div.category {
  width: calc(100% / 3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
}
div.category:not(:last-child) {
  margin-right: 20px;
}
div.category .options {
  color: #777F88;
}
div.category article {
  border-radius: 4px;
  background: white;
}
div.category article:not(:last-child) {
  margin-bottom: 15px;
}
div.category article.nouvelleTache {
  text-align: center;
  color: #777F88;
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
}
div.category article.nouvelleTache a {
  text-decoration: none;
  color: #777F88;
}
div.category article.nouvelleTache svg {
  margin-right: 10px;
}
div.category article.nouvelleTache img {
  max-width: 100%;
}

div.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

h4.titre {
  margin-top: 8px;
  margin-left: 10px;
}

div.auteur {
  padding: 5px;
  margin-right: 10px;
}

article .infos svg {
  color: #FFFFFF;
  background: #d3dbe1;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.2em 0.3em;
}

div.date {
  border-radius: 4px;
  color: #FFFFFF;
  padding: 4px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  text-align: center;
  text-transform: uppercase;
}

div.date.onTime {
  background-color: #70cc88;
}

div.date.late {
  background-color: #D73E3F;
}

footer {
  text-align: center;
  margin: 2% 0%;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer .fa-heart {
  color: #a01212;
}

/* ***************  NIBEAU 3 *************** */
div.planning {
  background: #FAFBFC;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #F0F3F4;
  width: 100%;
  /* padding-left: 15px;
  padding-top: 15px; */
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 2fr;
  box-sizing: border-box;
  margin-bottom: 20px;
}

div.elements {
  display: flex;
  margin-right: 20px;
}

div.element {
  margin-left: 15px;
}

.element::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: orange;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}

.dev::before {
  background-color: orange;
}

.design::before {
  background-color: blue;
}

.marketing::before {
  background-color: red;
}

div.tacheAEffectuer .date {
  margin-left: 25px;
}

div.tacheAEffectuer .infos {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.tacheAEffectuer {
  border-right: 1px solid #F0F3F4;
  margin-top: 0;
  box-sizing: border-box;
  position: relative;
}
.tacheAEffectuer:not(:last-child) {
  margin-bottom: 15px;
}

div.tacheAEffectuer::after {
  content: "";
  height: 5px;
  width: 100%;
  left: 0px;
  display: inline-block;
}
div.tacheAEffectuer.enCours::after {
  background: #96E3DB;
}
div.tacheAEffectuer.retard::after {
  background-color: orange;
}
div.tacheAEffectuer.aVenir::after {
  background-color: black;
}

p.texte.statut {
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

p.texte.retard {
  color: #E82936;
}

p.texte.enCours {
  color: #777F88;
}

/* *********  DARK MODE ********* */
.dark1 {
  background: #081B33;
}

.dark2 {
  background: #152642;
}

.dark3 {
  background: #2F4562;
}

.white-text {
  color: white;
}

.red {
  color: red;
}

/* ******************************  RESPONSIVE ****************************** */
@media screen and (max-width: 650px) {
  body,
div#main-container,
nav,
div.category,
div#level0,
section#level1,
div#level2,
div.level3 {
    padding: 0;
    margin: 0;
  }

  #level0 {
    display: block;
    box-sizing: border-box;
  }

  section#level1 {
    text-align: center;
    margin-top: 15px;
  }

  div#level2 {
    width: 100%;
    padding-top: 25px;
  }
  div#level2 div.level3 {
    margin: 0% 2%;
  }
  div#level2 #filter ul {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  div#level2 #filter ul li {
    margin-top: 3%;
    margin-right: 3%;
  }

  div.header {
    justify-content: center;
  }
  div.header .options {
    display: none;
  }
  div.header.planning-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.planning {
    display: grid;
    grid-template-columns: 1fr;
  }

  div.category article div.infos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.category article div.infos .date,
div.category article div.infos .auteur {
    margin-left: 0;
    margin-right: 0;
  }

  div.level3 {
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  div.level3 .category {
    width: 100%;
    padding: 10px;
  }

  #level0 {
    position: relative;
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 10%;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    z-index: 1;
  }
  nav .item {
    border: none;
    padding: 0;
    margin: 0;
  }
  nav .item:hover {
    background: none;
  }
  nav .item:hover::before {
    content: none;
  }
  nav .item.button {
    border: none;
    padding: 0;
    background: none;
  }
}

/*# sourceMappingURL=style.css.map */
