// Light Mode
$background-color: #FAFBFC;
$borders-and-backgrounds: #777F88;
$orange: #e06630;
$white: #FFFFFF;
$blue: #189ED7;
$turquoise: #96E3DB;
$red: #D73E3F;
// Dark Mode 
$dark: #212121;
$trueBlack: #000000;