 /* *********  DARK MODE ********* */
 
 .dark1 {
     background: $darkestBlue;
 }
 
 .dark2 {
     background: $darkerBlue;
 }
 
 .dark3 {
     background: $darkBlue;
 }
 
 .white-text {
     color: white;
 }
 
 .red {
     color: red;
 }