 /* ********* LIGHT MODE ********* */
 
 .light1 {
     background: $background-color;
 }
 
 .light2 {
     background: $white;
 }
 
 .text-grey {
     color: #777F88;
 }
 
 //  .light3{
 //      background: #FFFFFF;
 //  }
 //  .light4{
 //      background: #FFFFFF;
 //  }
 //  .light5{
 //      background: #FFFFFF;
 //  }