// Font sizes
$titles: 28px;
$subtitles: 20px;
$paragraphes: 14px;
// Spacings
$xl: 50px;
$l: 25px;
$m: 15px;
$s: 10px;
$xs: 5px;
// Border Radius
$radius4: 4px;
// Font Weights
$bold: 600;
$regular: 400;